.container {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-container {
    margin: 10px;
    background-color: lightgrey;
    width: 300px;
    cursor: pointer;
}

    .card-container h3 {
        text-align: center;
    }

.card-info-hide {
    display: none;
}

.card-info {
    display: flex;
    width: 100%;
    margin-left: 15px;
}

    .card-info ul {
        list-style: none;
    }