.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.filter-container {
    width: 200px;
}

.filter {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #D3CFCD;
    border-radius: 4px;
}