.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin: 20px;
}

.filter-container {
    width: 100%;
    max-width: 1178px;
    display: flex;
    justify-content: center;
}

.filter, .invalid-filter {
    width: 200px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #D3CFCD;
    border-radius: 4px;
}

.invalid-filter {
    border: 2px solid #e74848;
}

.invalid {
   color: #e74848;
   font-weight: 600;
   margin: 0;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}